/** CSS 
The ultime CHAT
par Lucas, Luis, Mickael
**/

#chat-box {
	background: #ffffff;
	margin: 50px auto;
	max-width: 60vh;
	box-shadow: 0 5px 30px rgba(171, 120, 252, 0.2);
	border: 1px solid rgb(171, 120, 252);
	overflow: hidden;
	position: relative;
	transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
	text-align: center;
}

.connect {
	text-align: center;
}

.connexion {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	border-radius: 30px;
	border: 1px solid rgb(171, 120, 252);
	padding: 10px;
	color: #000;
	background-color: transparent;
}

.deconnexion {
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	border-radius: 30px;
	border: 1px solid rgb(171, 120, 252);
	padding: 10px;
	color: #000;
	background-color: transparent;
}

h1 {
	font-size: 50px;
	font-family: Helvetica, sans-serif;
	font-weight: 600;
	text-transform: uppercase;
	color: rgb(0, 0, 0);
	text-align: center;
}

.divpseudo {
	text-align: center;
}

.pseudo {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	font-style: italic;
}

.pseudo::placeholder {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	font-style: italic;
}

#pseudo {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	border-radius: 30px;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	color: #000;
	background-color: rgb(171, 120, 252);
}

#pseudo::placeholder {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	color: #000;
}

.divmessage {
	text-align: center;
}

.message {
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
	font-style: italic;
}

.message::placeholder {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	color: #000;
}

#message {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	border-radius: 30px;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	color: #000;
	background-color: rgb(171, 120, 252);
}

#message::placeholder {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	color: #000;
}

#envoyer {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	border-radius: 30px;
	border: 1px solid rgb(171, 120, 252);
	padding: 10px;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
}

#monhorloge {
	text-align: right;
	font-size: 12px;
	font-family: Helvetica, sans-serif;
	font-style: italic;
}

#content {
	text-align: right;
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	border: 1px solid;
	border-radius: 30px 30px 5px;
	background-color: rgb(213, 140, 236)
}


/** HOVER **/

.connexion:hover {
	color: #000;
	background-color: rgba(171, 120, 252, 0.2);
}

.deconnexion:hover {
	color: #000;
	background-color: rgba(171, 120, 252, 0.2);
}

#pseudo:hover {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	border-radius: 30px;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	color: #000;
	background-color: rgba(171, 120, 252, 0.5);
}

#message:hover {
	font-size: 15px;
	font-family: Helvetica, sans-serif;
	border-radius: 30px;
	border: 1px solid rgb(0, 0, 0);
	padding: 10px;
	color: #000;
	background-color: rgb(171, 120, 252, 0.5);
}